<div class="tab-pane active" id="tab1">
  <% @ratings_by_name = Rating.search(params[:search]).paginate(:order => 'name ASC', :page => params[:page], :per_page =>10) %>
  <% @ratings_by_name.each do |rating| %>
  <div class="rating">
    <div class="row">
      <div class="span7">
        <strong><%= rating.name %></strong>
        <div class="meta">
            | <%= link_to 'View', rating %> | 
          <span class="admin">
            <%= link_to 'Edit', edit_rating_path(rating) %> | 
          </span>
          Rated on <%= rating.when_rated %>
        </div>
      </div>   
      <div class="span2">
        <%= rating.score %>
      </div>
    </div>
  </div>
<!-- <%= link_to 'Edit', edit_rating_path(rating) %>
<%= link_to 'Destroy', rating, confirm: 'Are you sure?', method: :delete %> --> 
  <% end %>
  <%= will_paginate @ratings_by_name %>
</div>

 

<!-- <%= link_to 'New Rating', new_rating_path %> -->