<div class="page-header">
  <h1>Full List</h1> 
</div>

<div class="tabbable">
  <ul class="nav nav-pills">
    <li class="active"><a href="#tab1" data-toggle="tab">By Name</a></li>
    <li><a href="#tab2" data-toggle="tab">By Score</a></li>
    <li><form class="navbar-search">
      <input type="text" class="search-query span3" placeholder="Search" name="search">
      <div class="icon-search"></div>
     </form></li>
  </ul>

  <div class="tab-content">
    <div class="tab-pane active" id="tab1">
      <% @ratings_by_name = Rating.search(params[:search]).paginate(:order => 'name ASC', :page => params[:page], :per_page =>10) %>
      <% @ratings_by_name.each do |rating| %>
      <div class="rating">
        <div class="row">
          <div class="span7">
            <strong><%= rating.name %></strong>
            <div class="meta">
                | <%= link_to 'View', rating %> | 
              <span class="admin">
                <%= link_to 'Edit', edit_rating_path(rating) %> | 
              </span>
              Rated on <%= rating.when_rated %>
            </div>
          </div>   
          <div class="span1">
            <%= rating.score %>
          </div>
        </div>
      </div>
    <!-- <%= link_to 'Edit', edit_rating_path(rating) %>
    <%= link_to 'Destroy', rating, confirm: 'Are you sure?', method: :delete %> --> 
      <% end %>
      <%= will_paginate @ratings_by_name %>   
    </div>

    <div class="tab-pane" id="tab2">
      <% @ratings_by_score = Rating.search(params[:search]).paginate(:order => 'score DESC', :page => params[:page], :per_page =>10) %>
      <% @ratings_by_score.each do |rating| %>
      
      <div class="rating">
        <div class="row">
          <div class="span7">
            <strong><%= rating.name %></strong>
     
            <div class="meta">
                | <%= link_to 'View', rating %> | 
              <span class="admin">
                <%= link_to 'Edit', edit_rating_path(rating) %> | 
              </span>
              Rated on <%= rating.when_rated %>
            </div>
          </div>
          
          <div class="span1">
            <%= rating.score %>
          </div>
        </div>
      </div>

      <!-- <%= link_to 'Edit', edit_rating_path(rating) %>
      <%= link_to 'Destroy', rating, confirm: 'Are you sure?', method: :delete %> --> 
      <% end %>
      <%= will_paginate @ratings_by_score %>
    </div>
  </div>
</div>


<!-- <%= link_to 'New Rating', new_rating_path %> -->