<!DOCTYPE html>
<html>
<head>
  <title>BeerRatings</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<!-- <%= load "#{Rails.root}/db/seeds.rb" %> -->

	<div class="navbar navbar-inverse navbar-fixed-top">
		<div class="navbar-inner">
			<div class="container">
				<a class="brand" href="#">Jason Novack's Beer Ratings</a>
				<ul class="nav">
					<li><%= link_to "Full List", ratings_path %></li>
				</ul>
			</div>
		</div>
	</div>

	<div class="container">

		<%= yield %>
	</div>

</body>
</html>
